# python 3.12.3
anyio==4.3.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
attrs==23.2.0
Babel==2.14.0
bacpypes==0.16.7
bcrypt @ file:///home/conda/feedstock_root/build_artifacts/bcrypt_1702663876866/work
beautifulsoup4==4.12.3
bleach==6.1.0
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1695989787169/work
certifi @ file:///croot/certifi_1707229174982/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1696001721842/work
chardet==3.0.4
charset-normalizer==3.3.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
comm==0.2.2
cryptography==37.0.4
debugpy==1.8.1
decorator==5.1.1
deepdiff @ file:///home/conda/feedstock_root/build_artifacts/deepdiff_1712671839005/work
defusedxml==0.7.1
Deprecated @ file:///home/conda/feedstock_root/build_artifacts/deprecated_1685233314779/work
docker @ file:///home/conda/feedstock_root/build_artifacts/docker-py_1702081460188/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1704921103267/work
executing==2.0.1
fastjsonschema==2.19.1
fqdn==1.5.1
future==1.0.0
gevent==24.2.1
greenlet==3.0.3
grequests==0.6.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1710971335535/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1673103042956/work
ipykernel==6.29.4
ipython==8.24.0
ipywidgets==8.1.2
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.2
json5==0.9.25
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.14.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.8
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.1
jupyterlab_widgets==3.0.10
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
mistune==3.0.2
mock @ file:///home/conda/feedstock_root/build_artifacts/mock_1689092066756/work
modbus_tk==1.1.2
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
notebook==7.1.3
notebook_shim==0.2.4
ordered-set @ file:///home/conda/feedstock_root/build_artifacts/ordered-set_1643221357603/work
orjson @ file:///home/conda/feedstock_root/build_artifacts/orjson_1713445702282/work/target/wheels/orjson-3.10.1-cp312-cp312-linux_x86_64.whl#sha256=af5912a30ef7bbf9951eb77c3572de298a916c543d3b3f69aef4f3a3e65b7c67
overrides==7.7.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1710075952259/work
pandocfilters==1.5.1
paramiko @ file:///home/conda/feedstock_root/build_artifacts/paramiko_1703015906107/work
parso==0.8.4
passlib==1.7.4
pexpect==4.9.0
platformdirs==4.2.1
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1713667077545/work
ply @ file:///home/conda/feedstock_root/build_artifacts/ply_1712242996588/work
prometheus_client==0.20.0
prompt-toolkit==3.0.43
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
Pygments==2.17.2
PyJWT==1.7.1
pymodbus==2.5.3
PyNaCl @ file:///home/conda/feedstock_root/build_artifacts/pynacl_1695544864683/work
pyserial==3.5
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pytest @ file:///work/perseverance-python-buildout/croot/pytest_1698845497894/work
pytest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/pytest-asyncio_1710849286869/work/dist
pytest-rerunfailures @ file:///home/conda/feedstock_root/build_artifacts/pytest-rerunfailures_1710357330620/work
pytest-timeout @ file:///home/conda/feedstock_root/build_artifacts/pytest-timeout_1712277618539/work
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2022.1
PyYAML==6.0
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/pyzmq_1713635594086/work
qtconsole==5.5.1
QtPy==2.4.1
referencing==0.35.0
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.18.0
Send2Trash==1.8.3
setuptools==69.5.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio==1.3.1
soupsieve==2.5
stack-data==0.6.3
terminado==0.18.1
tinycss2==1.3.0
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
tornado==6.4
traitlets==5.14.3
treelib==1.6.1
types-python-dateutil==2.9.0.20240316
tzlocal==2.1
uri-template==1.3.0
urllib3==1.25.11
-e git+ssh://git@github.com/kefeimo/volttron.git@159bd1e22946d890be460d664d3351f3ce2ba3e1#egg=volttron
watchdog @ file:///home/conda/feedstock_root/build_artifacts/watchdog_1707295114593/work
watchdog-gevent==0.1.1
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1713923384721/work
Werkzeug==2.2.1
wheel==0.30.0
widgetsnbextension==4.0.10
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1699532803956/work
ws4py==0.5.1
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
zope.event==5.0
zope.interface==6.3
